body {
     padding-top: 70px;
}

.navbar {
     -webkit-transition: all 0.6s ease-out;
     -moz-transition: all 0.6s ease-out;
     -o-transition: all 0.6s ease-out;
     -ms-transition: all 0.6s ease-out;
     transition: all 0.6s ease-out;

     background: rgba(255, 255, 255, 0);

     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}

.navbar-collapse {
     border: 0;
     -webkit-box-shadow: none;
     box-shadow: none;
}
@media only screen and (max-width: 768px) {
     .navbar-default .navbar-collapse {
          background: rgb(25, 25, 25);
          color: rgb(255, 255, 255);
     } 
}

.navbar.scrolled {
     background: rgb(25, 25, 25);
     color: rgb(255, 255, 255);
}